@import '../constants.scss';

.itemCard {
  margin-bottom: 0.5em;
  padding: 1em;
  width: 90%;
  .content {
    width: 100%;
    .children {
      width: 100%;
    }
    .options {
      cursor: pointer;
      color: #808080;
    }
    .options:hover {
      color: $red;
    }
  }
  .icon {
    cursor: pointer;
  }
}
