.processControl {
  width: 100%;
  padding: 1em;
  .list-entity {
    width: 55em;
    overflow: auto;
  }
  .buttonEntity {
    margin: 1.5em;
    width: 100%;
    .header {
      font-weight: bolder;
      margin-bottom: 1em;
    }
    .text-field {
      .form-group {
        width: 20em;
      }
    }
    .entity {
      margin-left: 1em;
      .container {
        width: 100%;
        padding: 0.5em;
        .button {
          margin-left: 1em;
        }
        .addEntityButton {
          margin-left: 1em;
        }
      }
      .titlecard {
        .cross {
          color: grey;
          margin-left: 1em;
          cursor: pointer;
        }
        .title {
          font-weight: bolder;
          margin-left: 0.35em;
        }
      }
    }
  }
}
